/*Reseteamos los estilos que acompañan por default al navegador*/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
   }
   table { border-collapse: collapse; border-spacing: 0; }
   td, th, caption { font-weight: normal; text-align: left; }
   img, fieldset { border: 0; }
   ol { padding-left: 1.4em; list-style: decimal; }
   ul { padding-left: 1.4em; list-style:square; }
   q:before, q:after { content:''; }
   /*fin del reset*/

body{
    font-size: 62.5;
}

h1{
    font: normal 2.4em 'Times New Roman'; 
    background: -webkit-linear-gradient(top,  rgb(12, 81, 25), rgb(84, 236, 24)) ;
    width: 35%;
    border-radius: 10px;
    margin: 15px auto;
    text-align: center;
    padding: 15px ;
    color:rgb(161, 255, 107);
    box-shadow: grey 5px 5px 10px;
    text-shadow: rgb(11, 52, 11) 2px 2px 3px;
}